
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}


.card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: white;
    font-family: sans-serif;
    margin-bottom: 10px;
  }  
  .card-content {
    color: black;
    padding: 16px;
  }
  
  
  .card-title {
    margin: 0 0 8px;
    font-size: 1.25rem;
  }
  
  .card-description {
    margin: 0;
    color: #555;
    font-size: 0.95rem;
  }
  